<p>
    Score: <span id="score"></span><br />
    Inventory Tiles:&nbsp;&nbsp;<span class="inventoryTile" id="backInventoryTile"></span> x<span id="backTileCount"></span>&nbsp;&nbsp;<span class="inventoryTile" id="frontInventoryTile"></span> x<span id="frontTileCount"></span><br />
    Inventory Size: <span id="inventoryOccupiedSize"></span> / <span id="inventorySize"></span><br />
    Mining Speed: <span id="miningSpeed"></span> seconds<br />
    Cursor Coordinates: <span id="tileCursorPos"></span>
<p>


